In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [38]:
traj = pd.read_csv('D:\datalab\智慧海洋\智慧海洋\hy_round2_train_20200225/20000.csv')
traj = pd.concat([traj, pd.read_csv('D:\datalab\智慧海洋\智慧海洋\hy_round2_train_20200225/20001.csv')])

In [34]:
traj["x"], traj["y"] = traj["lon"].copy(), traj["lat"].copy()
traj_geo = [Point(xy) for xy in zip(traj.x, traj.y)]
crs = {'init': 'epsg:4326'}
gdf = gpd.GeoDataFrame(traj_geo, crs=crs, geometry=traj_geo)
gdf = gdf.to_crs(crs="epsg:3395")
traj["x"], traj["y"] = gdf["geometry"].x, gdf["geometry"].y

D:\Software\anaconda3\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [39]:
traj.shape

(1339, 7)

In [40]:
L=[np.random.randint(0,4) for _ in range(len(traj)) ]
traj['no_bin'] = L

In [41]:
traj.head()

    渔船ID     lat      lon    速度  方向           time type  no_bin
0  20000  21.295  115.563  2.32  50  0912 23:59:55   拖网       3
1  20000  21.289  115.557  3.29  30  0912 23:49:54   拖网       2
2  20000  21.282  115.551  3.08  40  0912 23:39:26   拖网       3
3  20000  21.274  115.547  3.51  20  0912 23:29:49   拖网       1
4  20000  21.267  115.543  3.08  10  0912 23:19:48   拖网       3

In [26]:
bin_to_coord_df = traj.groupby(["no_bin"]).median().reset_index().drop(["渔船ID"], axis=1)

In [48]:
unique_boat_count_df = traj.groupby(["no_bin"])["渔船ID"]

In [53]:
unique_boat_count_df.unique()

no_bin
0    [20000, 20001]
1    [20000, 20001]
2    [20000, 20001]
3    [20000, 20001]
Name: 渔船ID, dtype: object

In [47]:
traj['渔船ID'].unique()

array([20000, 20001], dtype=int64)