In [1]:
import sys
import warnings
import tensorflow as tf
from tensorflow.keras import Input, Model
from tensorflow.keras.layers import Dense
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime
from datetime import timedelta
from tqdm import tqdm

In [2]:
df = pd.read_csv('data/GOOG-year.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-11-02,778.200012,781.650024,763.450012,768.700012,768.700012,1872400
1,2016-11-03,767.250000,769.950012,759.030029,762.130005,762.130005,1943200
2,2016-11-04,750.659973,770.359985,750.560974,762.020020,762.020020,2134800
3,2016-11-07,774.500000,785.190002,772.549988,782.520020,782.520020,1585100
4,2016-11-08,783.400024,795.632996,780.190002,790.510010,790.510010,1350800

In [8]:
minmax = MinMaxScaler().fit(df.Close.values.astype('float32').reshape(-1,1)) 
df_log = minmax.transform(df.Close.values.astype('float32').reshape(-1,1)) 
df_log = pd.DataFrame(df_log, columns=['Close'])
df_log.head()

      Close
0  0.112708
1  0.090008
2  0.089628
3  0.160459
4  0.188066

In [9]:
test_size = 30
simulation_size = 10

df_train = df_log.iloc[:-test_size]
df_test = df_log.iloc[-test_size:]
df.shape, df_train.shape, df_test.shape

((252, 7), (222, 1), (30, 1))

In [ ]:
def encoder_block():
    return 1


def decoder_block():
    return 1



def cnn_seq2seq_model():
    inputs = Input(shape=(30,1))
    # FC
    outputs = Dense(128)(inputs)
    
    # enco
    outputs = 
    
    model = Model(inputs = inputs, outputs=outputs)
    return model