In [1]:
import pandas as pd
import numpy as np
import warnings
import os
warnings.filterwarnings('ignore')

In [4]:
df_data = pd.read_csv(r'全国城市地铁站点信息V202104.csv', encoding='gbk')

In [5]:
df_data.head()

  站点名称       POI编号            拼音名称        gd经度       gd纬度 路线名称 城市名称
0  金安桥  BV11494889      JinAn Qiao  116.162586  39.923298  S1线   北京
1  四道桥  BV10813547     si dao qiao  116.134010  39.916030  S1线   北京
2  桥户营  BV10813541    qiao hu ying  116.125809  39.912383  S1线   北京
3   上岸  BV10813543        shang an  116.122225  39.905138  S1线   北京
4  栗园庄  BV10813544  li yuan zhuang  116.123254  39.895780  S1线   北京

In [6]:
"""删除完全重复的站点"""
df_data_1 = df_data.drop_duplicates()
df_data_1.sample(5)

      站点名称       POI编号            拼音名称        gd经度       gd纬度  路线名称 城市名称
4463   邕武路  BV10793332       YongWu Lu  108.340209  22.875565   3号线   南宁
842    金京路  BV10039924      JinJing Lu  121.615477  31.279823  12号线   上海
328   农大南路  BV10740316  nong da nan lu  116.282272  40.021398  16号线   北京
4102   胜利门  BV10124809      ShengLiMen  120.299901  31.581945   1号线   无锡
2437    华龙  BV11102222         HuaLong  106.452861  29.495513    环线   重庆